*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
*.log
logs/
**logs/
node_modules
dist
*.sqlite3
venv
.venv
*.rb
polestar/settings_local.py
celerybeat.pid
celerybeat-schedule
